.body{
    margin: 0;
}
.nav-link{
    margin-left: 2em !important;
    color: #2fe79a !important;
    /* text-align: right !important; */
}

.navbar-light .navbar-toggler {
    color: #2bc685;
}
/* .navbar-brand {
    margin-right: 16em !important;
} */

.form-group, h3 {
    color: #2bc685 !important;
    padding: 0em 0px 1em 0px;
}

.form-header{
    margin:0em auto;
    padding:0px auto;
}
a {
    text-decoration: none;
    color: #4d4c4c !important

}
a:hover{
    text-decoration: none;
    color: #4d4c4c !important

}

img{
    box-shadow: #4d4c4c;
}

.card{
    border:none;
    margin-bottom: 10%;
}
.card-img, .card-img-bottom, .card-img-top {
    border-radius: 50% !important;
    border: 0.5em solid #2fe79a;
}

.btn-primary {
    color: #fff;
    background-color: #2fe79a !important;
    border-color: #2fe79a !important;
    /* margin-top: 1em; */
}

.btn-primary:hover {
    color: #fff;
    background-color: #4d4c4c !important;
    border-color: #373737 !important;
}



.table-dark {
    background-color: #373737 !important;
}

/*  ------------------------------Social Media -------------------------- */
#social-media{
    padding-top: 5vh;
}

#social-icon{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

#social-icon img{
    width: 60px;
    margin: 0 1.5vw;
    transition: 0.5s;
}

#social-icon a:hover img{
    transform: translateY(-10px);
}

/*-------------------------------------*/
.footer{
    margin-top: 4em !important;
    background-color: #373737 !important;
    color: rgba(255, 255, 255, 0.89) !important;
}

.footer h4, .footer h5{
    color: white !important;
    font-weight: bolder;
    margin-top: 2em;
}

.footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.89) !important;
}

.footer .social{
    border: 1px solid rgba(255, 255, 255, 0.644) !important;
    border-radius: 15% !important;
    font-size: 1.5em;
    padding: 3px;
    margin-right: 5px;
}

/*------------------------*/

#background{
    width: 100%;
    height: 40vh;
    background: linear-gradient(45deg, #2fe79a, #4d4c4c);
    color: white;
    position: relative;
}